## The following requirements were added by pip freeze:
PySide6==6.10.1
PySide6_Addons==6.10.1
PySide6_Essentials==6.10.1
shiboken6==6.10.1
platformdirs==4.3.8
## The following requirements were added by pip freeze:
altgraph==0.17.5
black==26.3.1
click==8.3.3
colorama==0.4.6
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.0
pefile==2024.8.26
pillow==12.2.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pytokens==0.4.1
pywin32-ctypes==0.2.3
setuptools==82.0.1